@import "src/styles/styleVariables";

.tag-comp {
  border: 1px solid $lightGrey;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;

  span {
    font-family: monospace;
  }

  div {
    flex: 1;
  }
}
