@import "src/styles/styleVariables";

.tag-details-comp {
  flex: 2;
  padding-left: 20px;
  //background-color: chocolate;
  display: block;
}

#toggle-btn {
  display: none;
  font-size: 30px;
}

@media only screen and (max-width: 790px) {
  .main-content{
    padding: 0;
  }
  .tag-details-comp{
    padding-left: 0;
  }
  #toggle-btn {
    display: block;
    font-size: 30px;
  }
}

@media only screen and (max-width: 790px) {
  .tag-details-comp {
    width: calc(97% + 2px);
  }
  #toggle-btn {
    display: block;
  }
}