@import "src/styles/styleVariables";

.selection-details-comp {
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: chocolate;
  flex: 1;
}

#toggle-btn {
  display: none;
  font-size: 30px;
}

@media only screen and (max-width: 790px) {
  .selection-details-comp {
    display: none;
  }
  #toggle-btn {
    display: inline;
  }
}

@media only screen and (min-width: 791px) {
  .selection-details-comp {
    // hack to bring back the details component if you
    // manual resize the window size from phone to desktop
    display: block !important;
  }
}