@import "src/styles/styleVariables";

.selection-details-comp {
  padding: 5px 15px;
  margin: 0 0 20px 20px;
  flex: 1;
  background-color: $white;
  border: 1px solid $borderColor;
  border-radius: 5px;
  color: $textColor2;
  //font-family: "Open Sans", serif;
  //font-family: Ubuntu, serif;
  //
  //// this is required for pre tag from syntax highlighter not to overflow
  min-width: 0;

  h1 {
    color: $headingBlack2;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  h2 {
    font-size: 25px;
    margin: 25px 0 0 0;
    font-weight: 500;
  }


  p {
    font-size: 20px;
    line-height: 32px;
    margin: 10px 0;
  }

  table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;

    thead {
      vertical-align: middle;

      tr {
        background-color: #36304a;

        th {
          font-size: 19px;
          color: #fff;
          line-height: 1.2;
          padding: 10px;
        }
      }
    }

    tbody {
      tr {
        //color: gray;
        color: $textColor2;
        line-height: 1.2;
        //background-color: white;
        background-color: #eceaea;


        td {
          padding: 10px;
          font-size: 19px;
          text-align: center;
        }
      }
    }
  }

}

#toggle-btn {
  display: none;
  font-size: 30px;
}

@media only screen and (max-width: 790px) {
  .selection-details-comp {
    display: none;
  }
  #toggle-btn {
    display: inline;
  }
}

@media only screen and (min-width: 791px) {
  .selection-details-comp {
    // hack to bring back the details component if you
    // manual resize the window size from phone to desktop
    display: block !important;
  }
}