.filter-comp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  //max-width: 280px;
  max-width: 330px;
  background-color: lime;

  label {
    cursor: pointer;
    text-align: center;

    input {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 790px) {
  .filter-comp {
    max-width: 330px;
  }
}
