@import "src/styles/styleVariables";

.tag-table-comp {
  margin-bottom: 20px;
  // need to explicitly say the width and max-width
  // in order to keep the width to 330px because the parent
  // is display: flex and will stretch the first column - the table
  //width: 330px;
  max-width: 330px;
  background-color: $white;
  flex: 1;

  .table-header {
    border: 1px solid $lightGrey;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 5px 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Calibri Arial sans-serif;

    span:nth-child(1) {
      flex: 2;
      max-width: 110px;
    }

    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4) {
      flex: 1;
    }

    span:nth-child(3),
    span:nth-child(4) {
      text-align: center;
    }
  }

}

@media only screen and (max-width: 790px) {
  .tag-table-comp {
    //max-width: 330px;
    //width: 100%;
    min-width: 100%;

  }

  .table-header {
    //span:nth-child(2):before {
    //  content: '/';
    //
    //}
    span:nth-child(2) {
      text-align: center;
    }

  }
}
